# General
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
node_modules/
dist/

# OS
*.suo
*.ntvs*
*.njsproj
*.sw?

# Env / secrets
*.env
*.env.local
appsettings.*.local.json

# Bruno
bruno/**/*.local.bru
